<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>googlechrome</string>
        <string>microsoft-edge-http</string>
        <string>microsoft-edge-https</string>
        <string>dolphin</string>
        <string>opera</string>
        <string>firefox</string>
        <string>brave</string>
        <string>touch-http</string>
        <string>touch-https</string>
    </array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>javascript</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>javascript</string>
				</array>
			</dict>
			<key>Gophers-Azure</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gophers-Azure</string>
				</array>
			</dict>
			<key>Bit-Xamarin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Xamarin</string>
				</array>
			</dict>
			<key>Bit-VSCode</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-VSCode</string>
				</array>
			</dict>
			<key>Bit-Python</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Python</string>
				</array>
			</dict>
			<key>Bit-Octocat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Octocat</string>
				</array>
			</dict>
			<key>Bit-ML</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-ML</string>
				</array>
			</dict>
			<key>Bit-Linux</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Linux</string>
				</array>
			</dict>
			<key>Bit-Kubernetes</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Kubernetes</string>
				</array>
			</dict>
			<key>Bit-DotNET</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-DotNET</string>
				</array>
			</dict>
			<key>Bit-Azure</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-Azure</string>
				</array>
			</dict>
			<key>Bit_Unicorn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit_Unicorn</string>
				</array>
			</dict>
			<key>Bit_Sandbox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit_Sandbox</string>
				</array>
			</dict>
			<key>Bit_Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit_Pride</string>
				</array>
			</dict>
			<key>AppIcon-8Bit</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-8Bit</string>
				</array>
			</dict>
			<key>Bit-ScottGu</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Bit-ScottGu</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Mono-Bold.oft</string>
		<string>SF-Mono-BoldItalic.oft</string>
		<string>SF-Mono-Heavy.oft</string>
		<string>SF-Mono-HeavyItalic.otf</string>
		<string>SF-Mono-Light.otf</string>
		<string>SF-Mono-LightItalic.otf</string>
		<string>SF-Mono-Medium.otf</string>
		<string>SF-Mono-MediumItalic.otf</string>
		<string>SF-Mono-Regular.otf</string>
		<string>SF-Mono-RegularItalic.otf</string>
		<string>SF-Mono-SemiBoldItalic.otf</string>
		<string>SF-Mono-SemiBold.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
		<string>SF-Pro-Text-Black.otf</string>
		<string>SF-Pro-Text-BlackItalic.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SF-Pro-Text-BoldItalic.otf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-HeavyItalic.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-LightItalic.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-MediumItalic.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-RegularItalic.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Text-SemiboldItalic.otf</string>
		<string>SF-Pro-Text-Thin.otf</string>
		<string>SF-Pro-Text-ThinItalic.otf</string>
		<string>SF-Pro-Text-Ultralight.otf</string>
		<string>SF-Pro-Text-UltralightItalic.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Advocates</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msal454c6c59-d915-4505-ba3f-4ff657fd8822</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
